@font-face {
  font-family: 'Open Sans';
  src:
    url('/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans-Bold.woff') format('woff'),
    url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 360px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  position: relative;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.header {
  position: relative;

  margin: 0 0 41px 0;
  padding: 225px 0 210px 0;

  background-image: url('../images/banner-mobile.jpg');
  background-color: #464f48;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0.6;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.header__top {
  position: relative;
  z-index: 1;

  margin: 0 0 33px 0;

  text-align: center;
}

.header__logo {
  display: flex;

  margin: 0 auto;
  width: 269px;
  height: 61px;

  user-select: none;
  outline-offset: 5px;
}

.header__nav {
  display: none;
}

.header__menu-button {
  position: absolute;
  top: -186px;
  right: -9px;

  border: none;

  background-color: transparent;

  cursor: pointer;
  outline: none;
}

.header__menu-button::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.header__menu-icon {
  position: relative;

  display: flex;

  width: 23px;
  height: 3px;

  background-color: #ffffff;
}

.header__menu-icon::before {
  position: absolute;
  content: '';
  top: -7px;
  left: 50%;
  transform: translateX(-50%);

  width: 23px;
  height: 3px;

  background-color: #ffffff;
}

.header__menu-icon::after {
  position: absolute;
  content: '';
  top: 7px;
  left: 50%;
  transform: translateX(-50%);

  width: 23px;
  height: 3px;

  background-color: #ffffff;
}

.header__title {
  position: relative;
  z-index: 1;

  margin: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.trends {
  margin: 0 0 45px 0;
}

.trends__title {
  position: relative;

  margin: 0 0 25px 0;
  padding: 0 0 12px 0;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.trends__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.trends__list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.trends__item {
  display: flex;
  min-height: 232px;
}

.trend-card {
  position: relative;

  display: flex;
  align-items: end;

  width: 100%;

  padding: 32px 19px 15px 21px;
}

.trend-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0.6;

  z-index: 1;
}

.trend-card__image {
  position: absolute;
  content: '';
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: bottom;
}

.trend-card__content {
  position: relative;
  z-index: 1;

  padding: 28px 14px 28px 19px;

  border: 3px solid #b59f5b;
}

.trend-card__tag-list {
  margin: 0 0 11px 0;
  padding: 0;

  display: flex;
  gap: 10px 20px;

  list-style-type: none;
}

.trend-card__tag-link {
  display: flex;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  color: #b59f5b;
}

.trend-card__title {
  position: relative;
  z-index: 1;

  margin: 0;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  color: #ffffff;
}

.trend-card__title-link {
  color: #ffffff;
  text-decoration: none;

  user-select: none;
}

.posts__list {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0 0 43px 0;
  padding: 0;

  list-style-type: none;
}

.posts__item {
  position: relative;
  padding: 0 0 12px 0;
}

.posts__item::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;

  background-color: #eeeeee;
}

.post__img {
  user-select: none;
  margin: 0 0 12px 0;
}

.post__inner {
  display: flex;
  flex-direction: column;
}

.post__header {
  display: flex;
  flex-direction: column;
}

.post__tags-list {
  display: flex;
  gap: 5px 18px;
  flex-wrap: wrap;
  margin: 0 0 6px 0;
  padding: 0;

  list-style-type: none;
}

.post__tag-link {
  display: flex;

  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;

  color: #b59f5b;

  user-select: none;
  outline: none;

  transition: color 0.3s ease-in;
}

.post__tag-link:hover,
.post__tag-link:focus-visible {
  color: #b59f5b;

  text-decoration: underline;
}

.post__title {
  margin: 0 0 18px 0;
}

.post__title-link {
  margin: 0 0 17px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;

  user-select: none;
}

.post__title-link:hover,
.post__title-link:focus-visible {
  color: #b59f5b;

  outline: none;
}

.post__meta {
  display: flex;
  gap: 13px;
  margin: 0 0 18px 0;
}

.post__date {
  font-size: 12px;

  color: #888888;
}

.post__author {
  font-weight: 700;
  font-size: 12px;

  color: #000000;
}

.post__text {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 1.4;
}

.aside {
  display: flex;
  flex-direction: column;
}

.new-posts {
  margin: 0 0 63px 0;
}

.new-posts__title {
  position: relative;

  margin: 0 0 26px 0;
  padding: 0 0 12px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.new-posts__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.new-post {
  display: flex;
  gap: 20px;
}

.new-posts__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.new-post__img {
  user-select: none;
}

.new-post__content {
  display: flex;
  flex-direction: column;
}

.new-post__date {
  margin: 0 0 5px 0;

  font-size: 12px;

  color: #a4a4a4;
}

.new-post__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.new-post__title-link {
  color: #000000;
  text-decoration: none;

  user-select: none;
  outline: none;
}

.new-post__title-link:hover,
.new-post__title-link:focus-visible {
  color: #b59f5b;
}

.searching {
  margin: 0 0 41px 0;
}

.searching__form {
  display: flex;
}

.custom-input {
  width: 100%;
}

.custom-input__field {
  height: 48px;
  width: 100%;
  padding: 10px 14px;

  background-color: #f4f7f6;
  border: none;
  border-radius: 0;
}

.custom-input__field::placeholder {
  font-size: 13px;

  color: #707271;
}

.custom-input__field:hover,
.custom-input__field:focus-visible {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  background-color: #b59f5b;
  color: #ffffff;
  border: none;
  border-radius: 0;

  cursor: pointer;
  outline: none;
  user-select: none;
}

.button:hover,
.button:focus-visible {
  background-color: #000000;
}

.button--search {
  width: 48px;
  height: 48px;

  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.button--products {
  width: 140px;
}

.subscribing {
  margin: 0 0 42px 0;
}

.subscribing__title {
  position: relative;

  margin: 0 0 22px 0;
  padding: 0 0 13px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.subscribing__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.subscribing__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tags {
  margin: 0 0 40px 0;
}

.tags__title {
  position: relative;

  margin: 0 0 25px 0;
  padding: 0 0 13px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.tags__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 6px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.tags__link {
  display: flex;
  padding: 5px 12px;

  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
  border: 3px solid #eeeeee;

  outline: none;
  user-select: none;
}

.tags__link:hover,
.tags__link:focus-visible {
  border-color: #b59f5b;
}

.topics {
  margin: 0 0 28px 0;
}

.topics__title {
  position: relative;

  margin: 0 0 25px 0;
  padding: 0 0 13px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.topics__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.topics__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.topics__item {
  position: relative;
}

.topics__decorate {
  padding: 0 0 12px 0;
  margin: 0 0 16px 0;

  border-bottom: 1px solid #eeeeee;
}

.topics__link {
  font-weight: 700;
  font-size: 14px;

  color: #000000;
  text-decoration: none;

  outline: none;
  user-select: none;
}

.topics__link:hover,
.topics__link:focus-visible {
  color: #b59f5b;
}

.topics__count {
  font-weight: 700;
  font-size: 12px;

  color: #b59f5b;

  vertical-align: top;
}

.products {
  margin: 0 0 41px 0;
}

.products__title {
  position: relative;

  margin: 0 0 25px 0;
  padding: 0 0 13px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.products__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-card {
  margin-top: 281px;
}

.product-card__content {
  position: relative;

  border: 3px solid #b59f5b60;

  padding: 50px 20px 25px 16px;
}

.product-card__image {
  position: absolute;
  z-index: -1;
  top: -258px;
  left: 50%;
  transform: translateX(-50%);
}

.product-card__title {
  font-size: 17px;
  margin: 0 0 5px 0;
  text-transform: uppercase;

  color: #000000;
}

.product-card__text {
  font-size: 15px;
  line-height: 1.4;

  margin: 0 0 23px 0;

  color: #000000;
}

.product-card__link {
  color: #baa667;

  text-decoration: none;
}

.product-card__buy-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.product-card__price-wrapper {
  display: flex;
  flex-direction: column;

  margin: auto 0 0 0;
}

.product-card__old-price {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;

  color: #000000;
}

.product-card__price {
  font-size: 20px;
  font-weight: 700;

  color: #000000;
}

.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px 27px;
  margin: 0 0 45px 0;
  padding: 30px 0;

  background-color: #f3f7f5;

  list-style-type: none;
  user-select: none;
}

.socials__link {
  display: flex;
  width: 20px;
  height: 20px;
}

.socials__link--dribble {
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials__link--pinterest {
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials__link--tumblr {
  background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__copyright {
  margin: 0 0 35px 0;
}

.footer__copyright-link {
  display: flex;
  justify-content: center;

  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  color: #999999;

  user-select: none;
}

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: start;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 15px;

  background-color: rgba(0, 0, 0, 0.6);

  overflow-y: auto;
}

.popup_hidden {
  display: none;
}

.popup__form {
  position: relative;
  z-index: 10;

  margin: auto;
  padding: 28px 23px 30px;

  background-color: #ffffff;
}

.popup__title {
  position: relative;

  margin: 0 0 27px 0;
  padding: 0 0 13px 0;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.popup__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  width: 66px;
  height: 3px;

  background-color: #e1d9bd;
}

.popup__close-button {
  position: absolute;
  top: -32px;
  right: 0;

  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.select__label {
  font-size: 15px;

  color: #000000;
}

.select__field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #f4f7f6;
  background-image: url('/svg/form-arrows.svg');
  background-repeat: no-repeat;
  background-size: 10px 18px;
  background-position: right 18px top 50%;

  border: 1px solid transparent;
  border-radius: 0;

  width: 100%;
  padding: 15px 20px 15px 20px;

  font-family: inherit;
  font-size: 13px;
  color: #707171;

  outline: none;
}

.select__field:hover,
.select__field:focus-visible {
  border-bottom: 1px solid #b59f5b;
  border-left: 1px solid #b59f5b;
  border-right: 1px solid #b59f5b;
}

.select__label {
  display: flex;
  margin: 0 0 10px 0;

  font-size: 13px;
}

.select__field {
  margin: 0 0 33px 0;
}

.form-group {
  margin: 0 0 35px 0;
  padding: 0;

  border: none;
}

.form-group__title {
  margin: 0 0 12px 0;

  font-size: 13px;

  color: #000000;
}

.radio {
  padding: 0 0 0 32px;
}

.radio:nth-last-child(1) {
  margin: 0 0 0 29px;
}

.radio__label {
  position: relative;

  font-size: 13px;

  color: #000000;
}

.radio__label::before {
  position: absolute;
  content: '';
  top: -4px;
  left: -31px;
  width: 25px;
  height: 25px;

  border: 1px solid #b59f5b;
  border-radius: 50%;
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  content: '';
  top: 0;
  left: -27px;
  width: 17px;
  height: 17px;

  background-color: #b59f5b;
  border-radius: 50%;
}

.textarea__label {
  font-size: 13px;

  color: #000000;
}

.textarea__label {
  display: flex;
  margin: 0 0 8px 0;
}

.textarea__field {
  width: 100%;
  min-height: 155px;
  padding: 20px 22px 20px 22px;

  font-size: 13px;

  color: #000000;
  background-color: #f4f7f6;

  border: 1px solid transparent;

  outline: none;
}

.textarea__field::placeholder {
  font-size: 13px;

  color: #707171;
}

.textarea__field:hover,
.textarea__field:focus-visible {
  border-bottom: 1px solid #b59f5b;
  border-left: 1px solid #b59f5b;
  border-right: 1px solid #b59f5b;
}

@media (orientation: landscape) {
  .trends__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends__item {
    width: calc(50% - 1px);
  }
}
