.header {
  margin: 0 0 47px 0;
  padding: 43px 0 112px 0;

  background-image: url('../images/banner-bg-tablet.jpg');
}

.header__top {
  margin: 0 0 64px 0;
}

.header__logo {
  margin: 0;
}

.header__logo-img {
  width: 158px;
  height: 36px;
}

.header__menu-button {
  top: 17px;
  right: -6px;
}

.header__title {
  font-size: 40px;
}

.container {
  padding: 0 35px;
}

.trends {
  margin: 0 0 47px 0;
}

.trends__title {
  font-size: 18px;

  margin: 0 0 19px 0;
}

.trends__list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.trends__item {
  width: calc(50% - 2px);
  min-height: 247px;
}

.trend-card__title-link {
  font-size: 17px;
}

.trend-card__title {
  font-size: 17px;
}

.trend-card__content {
  padding: 32px 17px 33px 29px;
}

.main__sections {
  display: flex;
  gap: 35px;
}

.aside {
  width: 270px;
  flex-shrink: 0;
}

.posts__list {
  gap: 44px;
}

.posts__item:nth-last-child(1)::before {
  display: none;
}

.post__img {
  width: 100%;
}

.post__tags-list {
  margin: 0 0 10px 0;
}

.post__title {
  margin: 0 0 33px 0;
}

.post__title-link {
  font-size: 17px;
}

.post__text {
  font-size: 15px;
}

.post__meta {
  margin: 0 0 31px 0;
}

.new-post__date {
  margin: 0 0 2px 0;
}

.new-posts__list {
  gap: 22px;
}

.new-posts__title {
  font-size: 14px;

  margin: 0 0 27px 0;
  padding: 0 0 14px 0;
}

.searching {
  margin: 0 0 60px 0;
}

.subscribing {
  margin: 0 0 56px 0;
}

.subscribing__title {
  font-size: 14px;
}

.tags {
  margin: 0 0 58px 0;
}

.tags__title {
  font-size: 14px;
}

.topics__title {
  font-size: 14px;
}

.products {
  margin: 0 0 57px 0;
}

.products__title {
  font-size: 18px;
  margin: 0;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  display: flex;

  width: calc(50% - 12px);
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 221px;
}

.product-card__image {
  top: -198px;
}

.product-card__content {
  display: flex;
  flex-direction: column;

  height: 100%;
}

@media (orientation: landscape) {
  .trends__item {
    width: calc(25% - 3px);
  }
}
